{{outlet}}

	{{#each model as |message|}}
	<div class="container">
		<div class="photo">
			<img src="{{message.pic}}" alt="{{message.username}}">
		</div>
		<div class="info">
			<div class="first">{{message.message}}</div>
			<div>{{message.fullName}}</div>
			<div>{{message.useragent}}</div>
			<div class="day">{{message.date}}</div>
		</div>
	</div>
{{/each}}
